<h1><%= @album.title %></h1>


<h2>Artist:</h2>
  <%= link_to @album.band.name, band_url(@album.band) %>

<h2>Tracks</h2>
  <ul>
    <% @album.tracks.each do |track| %>
      <li><%=track.song_title %></li>
    <% end %>
  </ul>
